NODE_ENV=development

MONGO_URI_TESTING=xxxx
MONGO_URI=xxxx

JWT_SECRET=xxxx
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

MAX_FILE_SIZE=2000000
FILE_UPLOAD_PATH=./public/uploads

GEOCODER_PROVIDER=xxxx
GEOCODER_API_KEY=xxxx